<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'APP_INFO_TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="data-backup">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>{{ 'DATA_BACKUP_TITLE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="database-analysis">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>{{ 'DATABASE_ANALYSIS_TITLE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
