<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="checkUnsavedAndLeave()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'PROJECTIONS' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleVisibility()" *ngIf="values">
        <ion-icon slot="icon-only" [name]="showValues ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p class="ion-text-center">Prueba diferentes escenarios sin afectar tus datos guardados.</p>

  <ion-list>
    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-input type="number" [(ngModel)]="amount" (ionChange)="calculate()" placeholder="{{ 'INCOME_TRACKER' | translate }}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-select [(ngModel)]="period" (ionChange)="calculate()" interface="popover" placeholder="Period">
        <ion-select-option value="mensual">{{ 'MONTHLY' | translate }}</ion-select-option>
        <ion-select-option value="catorcenal">{{ 'BI_WEEKLY' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="values" class="ion-margin-top">
    <ion-list>
      <ion-list-header>
        <ion-label color="primary">Generales</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="wallet-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2>Ingreso Mensual Estimado</h2>
          <p>Calculado en base superior</p>
        </ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.monthlyIncome | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>

      <ion-list-header>
        <ion-label color="danger">{{ 'FIXED_EXPENSES' | translate }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="home-outline" slot="start" color="danger"></ion-icon>
        <ion-label>Necesidades básicas</ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.fixedExpensesBudget | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>

      <ion-list-header>
        <ion-label color="warning">{{ 'VARIABLE_EXPENSES' | translate }}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="restaurant-outline" slot="start" color="warning"></ion-icon>
        <ion-label>Estilo de vida</ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.variableExpensesBudget | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>

      <ion-list-header>
        <ion-label color="success">{{ 'WEALTH_BUILDING' | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="shield-checkmark-outline" slot="start" color="success"></ion-icon>
        <ion-label>{{ 'PEACE_FUND' | translate }}</ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.peaceFund | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="airplane-outline" slot="start" color="success"></ion-icon>
        <ion-label>{{ 'PERSONAL_PROJECTS' | translate }}</ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.personalProjects | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-icon name="trending-up-outline" slot="start" color="success"></ion-icon>
        <ion-label>{{ 'RETIREMENT_SAVINGS' | translate }}</ion-label>
        <ion-text slot="end" color="dark">
          <h3 *ngIf="showValues">{{ values.retirementSavings | currency }}</h3>
          <h3 *ngIf="!showValues">----</h3>
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
