<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'FUEL_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Vehicle Selector -->
  <div class="ion-padding-horizontal ion-padding-top vehicle-selector" *ngIf="vehicles.length > 1">
    <ion-item class="vehicle-selector-item">
      <ion-icon [name]="getCarIcon(selectedCarId)" slot="start" color="primary"></ion-icon>
      <ion-select [(ngModel)]="selectedCarId" (ionChange)="onCarChange($event)" interface="popover" placeholder="{{ 'SELECT_VEHICLE' | translate }}" style="width: 100%;">
        <ion-select-option *ngFor="let car of vehicles" [value]="car.id">{{ car.name | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="vehicles.length === 0" class="ion-padding no-vehicles-section">
    <ion-icon name="car-sport-outline"></ion-icon>
    <h2>{{ 'NO_VEHICLES_MSG' | translate }}</h2>
    <p>{{ 'REGISTER_VEHICLE_PROMPT' | translate }}</p>
    <ion-button routerLink="/vehicles" color="primary" fill="outline" class="ion-margin-top">
      {{ 'GO_TO_VEHICLES' | translate }}
    </ion-button>
  </div>

  <ion-list *ngIf="vehicles.length > 0">
    <ion-item-sliding *ngFor="let rec of records">
      <ion-item button (click)="openModal(rec)">
        <ion-label>
          <h2 class="vehicle-item-title">{{ formatDate(rec.date) }}</h2>
          <p>{{ getDisplayDistance(rec.odometer) | number:'1.0-1' }} {{ isImperial ? 'mi' : 'km' }} - {{ getDisplayVolume(rec.liters) | number:'1.1-2' }} {{ isImperial ? 'gal' : 'L' }}</p>
          <p>${{ getDisplayUnitPrice(rec.unitPrice) | number:'1.2-2' }} / {{ isImperial ? 'gal' : 'L' }}</p>
        </ion-label>
        <ion-note slot="end" color="primary" class="vehicle-item-note">
          ${{ rec.totalPrice | number:'1.2-2' }}
        </ion-note>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteRecord(rec)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item *ngIf="!records.length && selectedCarId" lines="none" class="ion-margin-top">
      <ion-label class="ion-text-center">
        <ion-icon name="car-sport-outline" class="no-fuel-records-section"></ion-icon>
        <p>{{ 'NO_RECORDS_FOUND' | translate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="vehicles.length > 0 && selectedCarId">
    <ion-fab-button (click)="openModal()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ (editingRecord?.id ? 'EDIT_RECORD' : 'ADD_RECORD') | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">{{ 'CLOSE' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="saveRecord()">
          <ion-item>
            <ion-label position="stacked">{{ 'ODOMETER' | translate }} ({{ isImperial ? 'mi' : 'km' }})</ion-label>
            <ion-input type="number" [(ngModel)]="currentRecord.odometer" name="odometer"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">{{ 'VOLUME' | translate }} ({{ isImperial ? 'gal' : 'L' }})</ion-label>
            <ion-input type="number" [(ngModel)]="currentRecord.liters" name="liters"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">{{ 'UNIT_PRICE' | translate }} ($ / {{ isImperial ? 'gal' : 'L' }})</ion-label>
            <ion-input type="number" [(ngModel)]="currentRecord.unitPrice" name="unitPrice"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">{{ 'TOTAL_COST' | translate }} ($)</ion-label>
            <ion-input type="number" [(ngModel)]="currentRecord.totalPrice" name="totalPrice"></ion-input>
          </ion-item>
          
          <ion-item id="open-fuel-date" button detail="false">
            <ion-label position="stacked">{{ 'DATE_AND_TIME' | translate }}</ion-label>
            <ion-datetime-button datetime="fuel-date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" trigger="open-fuel-date">
              <ng-template>
                <ion-datetime id="fuel-date" presentation="date-time" [(ngModel)]="currentRecord.date" name="date" [locale]="settings.currentLang" showDefaultButtons="true" doneText="{{ 'SAVE' | translate }}" cancelText="{{ 'CANCEL' | translate }}"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          
          <ion-button expand="block" type="submit" class="ion-margin-top" color="secondary" style="--border-radius: 8px;">
            {{ 'SAVE' | translate }}
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
