<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'HOME_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- House Selector -->
  <div class="ion-padding-horizontal ion-padding-top house-selector" *ngIf="houses.length > 1">
    <ion-item class="house-selector-item">
      <ion-icon [name]="getHouseIcon(selectedHouseId)" slot="start" color="primary"></ion-icon>
      <ion-select [(ngModel)]="selectedHouseId" (ionChange)="onHouseChange($event)" interface="popover" placeholder="{{ 'SELECT_HOUSE' | translate }}" style="width: 100%;">
        <ion-select-option *ngFor="let house of houses" [value]="house.id">{{ house.name | titlecase }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="houses.length === 0" class="ion-padding no-houses-section">
    <ion-icon name="home-outline"></ion-icon>
    <h2>{{ 'NO_HOUSES_MSG' | translate }}</h2>
    <p>{{ 'REGISTER_HOUSE_PROMPT' | translate }}</p>
    <ion-button routerLink="/houses" color="primary" fill="outline" class="ion-margin-top">
      {{ 'GO_TO_HOUSES' | translate }}
    </ion-button>
  </div>

  <ion-list *ngIf="houses.length > 0">
    <ng-container *ngFor="let group of groupedExpenses">
      <ion-item-divider sticky (click)="toggleGroup(group)" class="grouped-expenses-divider">
        <ion-label>{{ group.month }}</ion-label>
        <ion-note slot="end" color="primary" class="grouped-expenses-total">
          ${{ group.total | number:'1.2-2' }}
        </ion-note>
        <ion-icon [name]="group.expanded ? 'chevron-down' : 'chevron-forward'" slot="end" color="medium"></ion-icon>
      </ion-item-divider>
      
      <ng-container *ngIf="group.expanded">
        <ion-item-sliding *ngFor="let exp of group.expenses">
          <ion-item button (click)="openModal(exp)">
            <ion-label>
              <h2 class="grouped-expanded-title">{{ exp.type | translate | titlecase }}</h2>
              <p>{{ formatDate(exp.date) }}</p>
              <p *ngIf="exp.notes">{{ exp.notes | titlecase }}</p>
            </ion-label>
            <ion-note slot="end" color="primary" class="grouped-expanded-amount">
              ${{ exp.amount | number:'1.2-2' }}
            </ion-note>
          </ion-item>
          
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteExpense(exp)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ng-container>
    
    <ion-item *ngIf="!groupedExpenses.length && selectedHouseId" lines="none" class="ion-margin-top">
      <ion-label class="ion-text-center no-expenses-section">
        <ion-icon name="home-outline"></ion-icon>
        <p>{{ 'NO_EXPENSES_RECORDED_YET' | translate }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="houses.length > 0 && selectedHouseId">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal [isOpen]="isModalOpen" [canDismiss]="canDismiss" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ (editingExpense?.id ? 'EDIT_EXPENSE' : 'ADD_EXPENSE') | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss(null, 'cancel')">{{ 'CLOSE' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="saveExpense()">
          <ion-item>
            <ion-label position="stacked">{{ 'CATEGORY' | translate }}</ion-label>
            <ion-select [(ngModel)]="currentExpense.type" name="type" required>
              <ion-select-option value="housing">{{ 'HOUSING_RENT_MORTGAGE' | translate }}</ion-select-option>
              <ion-select-option value="electricity">{{ 'ELECTRICITY' | translate }}</ion-select-option>
              <ion-select-option value="water">{{ 'WATER' | translate }}</ion-select-option>
              <ion-select-option value="gas_bill">{{ 'GAS_BILL' | translate }}</ion-select-option>
              <ion-select-option value="telecom">{{ 'TELECOMMUNICATIONS' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">{{ 'AMOUNT' | translate }} ($)</ion-label>
            <ion-input type="number" [(ngModel)]="currentExpense.amount" name="amount" required></ion-input>
          </ion-item>
          
          <ion-item id="open-expense-date" button detail="false">
            <ion-label position="stacked">{{ 'DATE' | translate }}</ion-label>
            <ion-datetime-button datetime="expense-date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" trigger="open-expense-date">
              <ng-template>
                <ion-datetime id="expense-date" presentation="month-year" [(ngModel)]="currentExpense.date" name="date" [locale]="settings.currentLang" showDefaultButtons="true" doneText="{{ 'SAVE' | translate }}" cancelText="{{ 'CANCEL' | translate }}"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked">{{ 'BRIEF_DESCRIPTION' | translate }}</ion-label>
            <ion-textarea [(ngModel)]="currentExpense.notes" name="notes"></ion-textarea>
          </ion-item>
          
          <ion-button expand="block" type="submit" class="ion-margin-top" style="--border-radius: 8px;">
            {{ 'SAVE' | translate }}
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
